.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.clearfix {
  @include cf();
}

.is-relative {
  position: relative;
}

.is-fixed {
  position: fixed;
}

.is-absolute {
  position: absolute;
}