.site-nav-top {
  position: absolute;
  left: 0; top: -6px;
  min-width: 320px;
  height: 100vh;
  background-color: #fff;
  transform: translateX(-100%);
  transition: transform 0.2s ease-out;
  @include mq(desktopmin) {
    left: auto;
    right: $column-padding;
    text-align: right;
    height: auto;
    background-color: transparent;
    transform: translateX(0);
  }
  & ul {
    list-style: none;
    padding-left: 0;
  }
  &.open {
    transform: translateX(0);
  }
}

.site-nav-mobile-button {
  position: absolute;
  top: 0;
  left: 0;
  font-size: $font-size-bigger;
  font-weight: bold;
  border: none;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  @include mq(desktopmin) {
    display: none;
  }
}

.menu-title {
  position: relative;
  display: block;
  padding: 1em;
  background-color: darken($color-brand-primary,5%);
  color: #fff;
  @include mq(desktopmin) {
    display: none;
  }
}

.menu-close {
  position: absolute;
  top: 0; right: 0;
  padding: 1em;
  cursor: pointer;
}

.menu-item-has-children {
  display: block;
  overflow: hidden;
  border-bottom: 1px solid $color-background;
  @include mq(desktopmin) {
    display: inline-block;
    position: relative;
    border-bottom: none;
    overflow: visible;
  }
  & > a {
    color: $color-foreground-body;
    display: block;
    padding: $font-size-bigger $font-size-base;
    @include mq(desktopmin) {
      display: inline-block;
      color: #fff;
      letter-spacing: 1px;
      &:hover {
        color: #efefef;
      }
    }
  }
}

.sub-menu {
  height: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: all 0.2s ease-out;
  @include mq(desktopmin) {
    margin-top: -30px;
    padding-top: 22px;
    position: absolute;
    right: 0;
    min-width: 260px;
    display: none;
    transform: scaleY(1);
    height: auto;
  }
  &:before {
    content: '';
    width: 18px;
    height: 18px;
    position: absolute;
    background-color: $color-background;
    transform: rotate(45deg);
    top: 20px;
    right: 12px;
    z-index: -1;
  }
  & li {
    background-color: $color-background;
    border-bottom: 1px solid #dedede;
  }
  & li:hover {
    background-color: #fff;
  }
  & li a {
    display: block;
    color: #555;
    font-weight: normal;
    padding: 16px;
    text-align: left;
    transition: color 0.2s ease-out;
  }
  & a:hover {
    color: #E04F4F;
  }
  &.open {
    display: block;
    transform: scaleY(1);
    height: 100%;
  }
}

.menu-item-has-children:hover .sub-menu {
  display: block;
}

.menu-item-child-list {
  width: 100%;
  border-right: 1px solid #dedede;
  @include mq(desktopmin) {
    width: 160px;
    float: left;
  }
  & li {
    position: relative;
  }
  & li:hover::after {
    content: '';
    width: 12px;
    height: 12px;
    border: 1px solid #dedede;
    position: absolute;
    right: -6px;
    top: 50%;
    transform: translateY(-6px) rotate(45deg);
  }
}

.menu-item-child-content {
  display: none;
  @include mq(desktopmin) {
    display: block;
    background-color: #fcfcfc;
    padding: 4px;
    width: 400px;
  }
}

.item-link {
  display: block;
  width: 100px;
  height: 70px;
  margin: 8px;
  float: left;
}

.item-image {
  display: block;
  width: 100%;
  &:hover {
    opacity: 0.9;
  }
}

a.main-nav {
  display: none;
  @include mq(desktopmin) {
    display: inline-block;
    background: url('https://ecs7.tokopedia.net/assets/images/ic_menu.png') no-repeat center;
    background-size: contain;
    height: 28px;
    width: 28px;
    margin-left: 12px;
    margin-top: -6px;
    vertical-align: middle;
  }
  &:hover ~ .main-nav-child {
    display: block;
  }
}

.main-nav-child {
  position: absolute;
  right: 0;
  min-width: 240px;
  margin-top: -22px;
  padding-top: 24px;
  text-align: center;
  zoom: 1;
  display: none;
  &:hover {
    display: block;
  }
  &:before {
    content: '';
    width: 18px;
    height: 18px;
    position: absolute;
    background-color: #fcfcfc;
    transform: rotate(45deg);
    top: 20px;
    right: 12px;
    z-index: -1;
  }
  & li {
    float: left;
    width: 50%;
    padding: 8px;
  }
  & li:hover {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);  
  }
  & a {
    font-size: 12px;
    color: #555;
  }
}

.icon-wrapper {
  background-color: $color-background;
  padding: 8px;
  @include cf();
}

.icon {
  width: 48px;
  height: 48px;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.jubel-icon {
  @extend .icon;
  background-image: url('https://ecs7.tokopedia.net/img/icon_tokopedia-toped@2x.png');
}

.official-icon {
  @extend .icon;
  background-image: url('https://ecs7.tokopedia.net/img/icon_tokopedia-official-store@2x.png');
}

.digital-icon {
  @extend .icon;
  background-image: url('https://ecs7.tokopedia.net/img/icon_tokopedia-pulsa@2x.png');
}

.kereta-icon {
  @extend .icon;
  background-image: url('https://ecs7.tokopedia.net/img/icon_tokopedia-tiket@2x.png');
}

.donasi-icon {
  @extend .icon;
  background-image: url('https://ecs7.tokopedia.net/img/icon_tokopedia-donasi@2x.png');
}

.bantuan-icon {
  @extend .icon;
  background-image: url('https://ecs7.tokopedia.net/img/icon_tokopedia-bantuan@2x.png');
}